<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hooked</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="home" Size="18" />
                </span>
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/arscanner">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="scan" Size="18" />
                </span>
                Scan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/map">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="map" Size="18" />
                </span>
                Map
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fishdex">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="fish" Size="18" />
                </span>
                FishDex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/leaderboard">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="trophy" Size="18" />
                </span>
                Leaderboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile">
                <span class="nav-menu-icon" aria-hidden="true">
                    <AppIcon Name="user" Size="18" />
                </span>
                Profile
            </NavLink>
        </div>
    </nav>
</div>

