@using Microsoft.AspNetCore.Components

<nav class="bottom-nav">
    <a href="/" class="nav-item" title="Home">
        <span>??</span>
        <div class="label">Home</div>
    </a>
    <a href="/arscanner" class="nav-item" title="Scan Fish">
        <span>??</span>
        <div class="label">Scan</div>
    </a>
    <a href="/map" class="nav-item" title="Map">
        <span>???</span>
        <div class="label">Map</div>
    </a>
    <a href="/fishdex" class="nav-item" title="Fish Dictionary">
        <span>??</span>
        <div class="label">FishDex</div>
    </a>
    <a href="/profile" class="nav-item" title="Profile">
        <span>??</span>
        <div class="label">Profile</div>
    </a>
</nav>

@code {
}